### Q1. What is data encoding? How is it useful in data science?

### Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

### Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

### Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

### Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

### Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

### Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

# Answers

### Q1. What is data encoding? How is it useful in data science?

#### Data Encoding:
Data encoding is the process of converting data from one format or representation to another. In the context of data science, data encoding often refers to converting categorical or textual data into numerical representations that can be effectively processed and used by machine learning algorithms. This is important because many machine learning algorithms, especially those used in statistical modeling and numerical analysis, require numerical input data.
#### Use:
When working on some datasets, we found that some of the features are categorical, if we pass that feature directly to our model, our model can't understand those feature variables. We all know that machines can't understand categorical data. Machines require all independent and dependent variables i.e input and output features to be numeric. This means that if our data contain a categorical variable, we must have to encode it to the numbers before we fit our data to the model.

### Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

### Nominal Encoding
When we have a feature where variables are just names and there is no order or rank to this variable's feature.

Example: 
City of person lives in, Gender of person, Marital Status,etc.

In [2]:
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [3]:
df=sns.load_dataset("tips")

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
encod=OneHotEncoder()

In [7]:
encod_sex=encod.fit_transform(df[['sex']])

In [8]:
df_encode=pd.DataFrame(encod_sex.toarray(),columns=encod.get_feature_names_out())

In [9]:
df_encode.head()

   sex_Female  sex_Male
0         1.0       0.0
1         0.0       1.0
2         0.0       1.0
3         0.0       1.0
4         1.0       0.0

### Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Nominal encoding is preferred over one-hot encoding in situations where the categorical variable represents distinct categories without any inherent order or ranking. In other words, when the categories are nominal in nature and don't have a meaningful sequence or relationship, nominal encoding is more appropriate.

### Situations: 
Suppose you are analyzing customer feedback for a restaurant. One of the features you're dealing with is "Dish Type," which represents the type of dish a customer is providing feedback on. The categories are: Appetizer, Main Course, Dessert, Beverage, and Side Dish. These categories don't have any inherent order or ranking; they are simply different types of dishes.

Customer ID:[1,2,3,4,5]

Dish Type:[ Appetizer, Main Course, Dessert,Appetizer,Side Dish.]

Dish Type (Label Encoded):[1,2,3,1,4]

### Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

For transforming categorical data into numerical data, there are several encoding techniques we can consider. In this scenario,categorical data with 5 unique values then we can choose the LEBEL ENCODING if there is any order or ranking is present in the data.
If there is not any order or ranking so we should go for ONE HOT ENCDING for unique value one hot encoding is best. Beacuse  One-Hot Encoding is the preferred technique as it maintains the integrity of the categorical information without introducing unintended ordinal or numerical interpretations.

### Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

If you were to use nominal encoding (specifically, One-Hot Encoding) to transform the categorical data, you would create a new binary column for each unique category in the categorical columns. 

Let's assume:

Column 1 has "n" unique categories.
Column 2 has "m" unique categories.
For each unique category in each column, a new binary column is created. Therefore, the total number of new columns created would be:

Number of new columns = Number of unique categories in Column 1 + Number of unique categories in Column 2
= n + m

Let's say you have 5 unique categories in Column 1 (n = 5) and 10 unique categories in Column 2 (m = 10). Then:

Number of new columns = 5 + 10
= 15

### Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

One-Hot Encoding is ideal when dealing with nominal categorical data, where categories don't have any inherent order or ranking. In the case of animal data, species, habitat, and diet categories are likely to be nominal. Using One-Hot Encoding ensures that each category is represented as a separate binary column, preserving the individuality of each category without introducing any unintended relationships.

One-Hot Encoding is a suitable technique for transforming categorical animal data into a format that retains the integrity of categorical information and is compatible with a wide range of machine learning algorithms.

### Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

For transforming categorical data into numerical data, there are several encoding techniques we can consider. In this scenario, where we have features like gender and contract type are categoriacal varibale
Gender (Categorical: Male/Female)
Age (Numerical)
Contract Type (Categorical: Month-to-Month, One Year, Two Year)
Monthly Charges (Numerical)
Tenure (Numerical)

In Gender Column there are only two vlaues so it can use One-Hot-Encoding efficently 
In Contract type as for my convention it contain only three value so in this we can also use the One-Hot-Encoding

Step 1:
import the sklearn.prepocessing

from sklearn.preprocessing import OneHotEncoder

Step 2:
Create an object of OneHotEncoder
encoder=OneHotEncoder()

Step 3:
transfor the value using fit_transform()
encoded=encoder.fit_transform(df[['Gender']])

Step 4:
convet the value in the DataFrame formate and use it.